.reviews-container {
    max-width: 600px;
    margin: 0 auto;
   
    background-color: white;
    border-radius: 8px;

}

.reviews-heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.reviews-list {
    list-style-type: none;
    padding: 0;
}

.review-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-comment {
    font-size: 24px;
    margin-bottom: 8px;
}

.review-user {
    font-size: 14px;
    color: #777;
}
